<FilesMatch "\.(htaccess|htpasswd|ini|log|sh|inc|bak|sql)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine On
RewriteCond %{QUERY_STRING} q=/modules/Students/applicationForm.php
RewriteRule ^ %{REQUEST_URI}?q=/modules/custom-gbn/applicationForm_custom\.php [R]





